.cards-section {
  padding: 40px;
}

h2 {
  font-size: 3.7rem;
  font-weight: bolder;
  line-height: 1.2;
  margin-bottom: 20px;
  color: black;
  text-align: left;
  max-width: 50%;
  padding: 40px;
}

.cards-container {
  display: flex;
  padding: 40px;
}


@media (max-width: 932px) {
  .card-section h2 {
    font-size: 2.5rem;
    padding: 0 20px;
  }

  .card {
    flex: 1 1 calc(50% - 10px);
  }
}